.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

a {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 200ms cubic-bezier(.215, .61, .355, 1);
  transition: all 200ms cubic-bezier(.215, .61, .355, 1);
  color: #d476ff;
  text-decoration: none;
}

a:hover {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-perspective: 0px;
  perspective: 0px;
  -webkit-transform: perspective(0px) scale(1.025);
  transform: perspective(0px) scale(1.025);
  color: #ee9d39;
}

a:focus {
  border-style: dotted;
  border-width: 3px;
  border-color: #817f7f #757575 #727272 rgba(0, 0, 0, 0.49);
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 95.3%, 0.15)), to(hsla(0, 0%, 95.3%, 0.15)));
  background-image: linear-gradient(180deg, hsla(0, 0%, 95.3%, 0.15), hsla(0, 0%, 95.3%, 0.15));
  color: #ee9d39;
}

strong {
  font-weight: bold;
}

.body {
  background-color: #edeafd;
  font-family: Comfortaa, sans-serif;
  color: #603a94;
}

.image {
  border-radius: 100px;
}

.image.icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.container {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.heading {
  display: inline-block;
  overflow: visible;
  line-height: 50px;
}

.bold-text {
  text-decoration: none;
}

.link-card {
  max-width: 160px;
  min-height: 0px;
  min-width: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 20px 10px;
  border-radius: 14px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.19)), to(hsla(0, 0%, 100%, 0.09)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.19), hsla(0, 0%, 100%, 0.09));
  opacity: 1;
  -webkit-transition: all 100ms ease;
  transition: all 100ms ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.link-card:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.38)), to(hsla(0, 0%, 100%, 0.09)));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.38), hsla(0, 0%, 100%, 0.09));
  box-shadow: inset 1px 1px 3px 0 hsla(0, 0%, 100%, 0.56), inset 7px 7px 2px 0 rgba(75, 44, 44, 0.11), 0 0 7px 7px hsla(0, 0%, 55.3%, 0.26);
  -webkit-perspective: 216px;
  perspective: 216px;
  -webkit-transform: rotateX(6deg) rotateY(-3deg) rotateZ(-1deg) scale(1.025);
  transform: rotateX(6deg) rotateY(-3deg) rotateZ(-1deg) scale(1.025);
}

.link-card.music {
  background-color: #e59524;
  color: #ffeacc;
}

.link-card.music:hover {
  color: #fffbf5;
}

.link-card.musings {
  background-color: #008667;
  color: #aeffed;
}

.link-card.musings:hover {
  color: #cffff4;
}

.link-card.linkedin {
  overflow: visible;
  background-color: #4577ff;
  color: #b6caff;
}

.link-card.linkedin:hover {
  color: #e9efff;
}

.link-card.beat-saber {
  background-color: #001e46;
  color: #82b7ff;
}

.link-card.beat-saber:hover {
  color: #bfdaff;
}

.link-card.games {
  background-color: #5a008a;
  color: #e7baff;
}

.link-card.games:hover {
  color: #f2dbff;
}

.link-card.twitter {
  background-color: #209eff;
  color: #c8e7ff;
}

.link-card.twitter:hover {
  color: #e7f5ff;
}

.link-card.instagram {
  background-color: #c5006c;
  color: #ffb7df;
}

.link-card.instagram:hover {
  color: #ffdbf2;
}

.link-card.observable {
  background-color: #3a3a3a;
  color: silver;
}

.link-card.observable:hover {
  color: #e9e9e9;
}

.link-card.github {
  background-color: #220170;
  color: #c3aaff;
}

.link-card.github:hover {
  color: #e8deff;
}

.link-card.youtube {
  background-color: #960000;
  color: #ffa0a0;
}

.link-card.youtube:hover {
  color: #ffe6e6;
}

.link-card.email {
  background-color: #004142;
  color: #a7feff;
}

.link-card.email:hover {
  color: #dbfeff;
}

.link-card.discord {
  background-color: #5d70ff;
  color: #d6dbff;
}

.link-card.discord:hover {
  color: #eef0ff;
}

.link-content {
  margin-top: 20px;
  font-size: 0.8em;
  line-height: 2em;
}

.link-content.prose {
  line-height: 1.2em;
}

.link-content.prose.under-emoji {
  margin-top: 0px;
}

.text-block {
  font-size: 2em;
  line-height: 1.5em;
}

.grid-2 {
  margin: 50px 30px 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(180px, 1fr));
}

.text-block-2 {
  margin-top: 20px;
  line-height: 1.4em;
}

.text-block-2.pronoun {
  display: inline;
  margin-bottom: 0px;
  font-size: 18px;
}

.text-block-2.flags {
  margin-top: 0px;
  margin-bottom: 20px;
}

.text-block-3 {
  text-align: left;
}

.bold-text-2 {
  text-align: right;
}

.text-block-4 {
  text-align: right;
}

.text-block-5 {
  text-align: left;
}

.paragraph {
  margin-top: 0px;
  margin-bottom: 10px;
}

.footer {
  margin-bottom: 40px;
}

.image-2 {
  width: 32px;
  height: 32px;
}

.emoji-image {
  width: 32px;
  height: 32px;
  margin-right: 2px;
  margin-bottom: 5px;
  margin-left: 2px;
}

.emoji-image.seedling {
  -webkit-filter: brightness(133%);
  filter: brightness(133%);
}

.emoji-image.dove {
  -webkit-filter: brightness(137%);
  filter: brightness(137%);
}

.emoji-image.microphone {
  -webkit-filter: brightness(143%);
  filter: brightness(143%);
}

.emoji-image.detective {
  -webkit-filter: brightness(141%);
  filter: brightness(141%);
}

.emoji-image.alien {
  -webkit-filter: hue-rotate(70deg) brightness(200%);
  filter: hue-rotate(70deg) brightness(200%);
}

.emoji-image.small {
  width: 16px;
  height: 16px;
  margin-top: 5px;
}

.emoji-image.small.music-notes {
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
}

.emoji-image.heading {
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .text-block-4 {
    text-align: center;
  }

  .text-block-5 {
    text-align: center;
  }

  .pos-list {
    margin-top: 10px;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    font-size: 24px;
  }

  .text-block-4 {
    text-align: center;
  }

  .text-block-5 {
    text-align: center;
  }

  .pos-list {
    margin-top: 10px;
  }

  .bold-text-3 {
    font-size: 16px;
  }
}

#w-node-d6d26f08-c173-d5a6-d2d4-180375354f8d-8029d601 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-bc9cc9cc-f01b-3ab6-6573-7cf37ad29906-8029d601:focus {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 479px) {
  #w-node-d6d26f08-c173-d5a6-d2d4-180375354f8d-8029d601 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
  }
}

